.counter-card-1 {
    min-width: rem(170);
    padding: .5rem 1.25rem;
    position: relative;
    background: hsl(var(--about-counter-bg));
    border-radius: 1rem;

    &::after {
        content: '';
        position: absolute;
        inset: -1px;
        background-image: linear-gradient(130deg, hsl(var(--base)), hsl(var(--neutral-100)), hsl(var(--neutral-100)), hsl(var(--neutral-100)), hsl(var(--base)));
        border-radius: inherit;
        z-index: -1;
    }
}