.feature-card-2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
    background-color: hsl(var(--base)/.05);
    border-radius: .5rem;
    transition: all .3s ease;

    @include screen(sm) {
        padding: 2.5rem;
    }

    @include screen(xl) {
        padding: 3rem;
    }

    &:hover {
        background-color: hsl(var(--base));
    }
}