.team-card-2 {
    position: relative;
    isolation: isolate;
    margin-bottom: 5.5rem;

    @include screen(xl) {
        margin-bottom: 0;
    }

    &:hover {
        .team-card-2__overlay {
            @include screen(xl) {
                inset-block-end: -5.5rem;
                background: hsl(var(--base));
            }
        }
    }


    &__img {
        width: 100%;
        position: relative;
        isolation: isolate;
        border-radius: 1rem;
        aspect-ratio: 1;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(179.02deg, rgba(83, 56, 246, 0) 30.04%, #15122D 99.2%);
        }

        &-is {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        padding: 1rem;
        position: absolute;
        inset-inline: 0;
        inset-block-end: 0;
    }

    &__overlay {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        position: absolute;
        inset-inline-start: 1rem;
        inset-inline-end: -.5rem;
        inset-block-start: 1rem;
        inset-block-end: -5.5rem;
        background: hsl(var(--base));
        border-radius: 1rem;
        transition: all .3s linear;
        z-index: -1;

        @include screen(xl) {
            inset-block-end: -.75rem;
            inset-inline-end: -.75rem;
            background: hsl(var(--base)/.2);

        }

        &:hover {
            @include screen(xl) {
                inset-block-end: -5.5rem;
                background: hsl(var(--base));
            }
        }
    }
}