.user-group {
    li {
        &:nth-child(2) {
            margin-inline-start: -#{rem(25)};
        }

        &:nth-child(3) {
            margin-inline-start: -#{rem(25)};
        }

        &:nth-child(4) {
            margin-inline-start: -#{rem(25)};
        }
    }
}