.cta-section-2 {
    position: relative;
    isolation: isolate;
    background-color: hsl(var(--base));

    &::after {
        content: '';
        position: absolute;
        inset-block: 0;
        inset-inline-end: 0;
        inset-inline-start: 70%;
        background-image: url(../images/cta-bg.png);
        background-size: contain;
        background-position: right top;
        background-repeat: no-repeat;
        z-index: -1;
    }
}